body{
    background-color: palegoldenrod;
}

#title{
    display: inline;

    margin: auto;
    text-decoration: line-through #ADEDB5;

    font-size: 100px;
    text-align: left;
    color: white;
}

#settingButton{
    float: right;
    margin: 3% 3%;
    background-color: rgba(246,245,245,0);
    border: 0;

}
#setting{
    font-size: 60px;
    float: right;
    color: white;
    margin: 3% 3%;
    -webkit-text-stroke:3px black
}

#taskTitle{
    display: inline;
    font-size: 50px;

    margin-left: 35%;

    text-align: center;
    color: white;
    background-color: #ED91AB;
    width: auto;
    border-radius: 30px;
    border-color: #E8A64F;
    font-family: 'Ephesis', cursive;

}

#newTask{
    display: inline-block;
    font-size: 40px;
    color: white;
    margin-left: 15%;
    margin-bottom: 10px;
    width: auto;
    height: 70px;
    border-radius: 30px;
    border-color: #EDC29D;
    background-color: #ADEDB5;
}

#statusBar{
    display: flex;
    justify-content: space-between;
}

.div_class{
    background-color: #ED91AB;
    display: flex;
    justify-content: space-between;

    text-align: center;
    font-size: 20px;
    width: 100%;
    margin-right: 5%;
    height: 20%;
    border-radius: 30px;
    border-color: #B9FF57;
    margin-top: 10px;
}

#fontawesome{
    font-size: 30px;
}

.div_class button{
    background-color: rgba(246,245,245,0);
    /* -webkit-text-stroke:1px black; */
    font-size: 30px;
    text-align: center;
    /* border-radius: 0; */
    margin: 5px;
    width: 70px;
    height: 35px;


    border: 0;
    float: right;
    color: black;
    /* margin: 3% 3%; */
}
/* 
#btnEdit{
    background-color: tomato;
}

#btnDel{
    background-color: red;
} */