<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/38d519e40f.js" crossorigin="anonymous"></script>
    <script>
        window.$ = window.jQuery = require("../../plgins/jquery-3.6.0.js");
    </script>

    <link rel="stylesheet" href="../assets/css/tasks.css">
    <link rel="shortcut icon" href="../img/logo.png"/>
    <title>MARK IT</title>
</head>
<body>

    <div id="container">
        <div class="left">
            <div id="title"><h1>MARK IT</h1></div>
            <div id="username"></div>

            <div class="user-list-tasks">
                <div id="all_tasks"><i class="fas fa-home"></i><button onclick="allTasks()">All Tasks</button></div>
                <div id="important"><i class="far fa-star"></i><button onclick="getTasksByCategories('important')"> Important</button></div>
                <hr>
                <div id="work"><i class="fas fa-briefcase"></i><button onclick="getTasksByCategories('work')"> Work</button></div>
                <div id="shopping-list"><i class="fas fa-store"></i><button onclick="getTasksByCategories('shopping List')"> Shopping List</button></div>
                <div id="songs"><i class="fas fa-music"></i><button onclick="getTasksByCategories('songs')"> Songs</button></div>
                <hr>


                <div id="userCategories">
                    <h2>- Your categories -</h2>
                    <div id="editcategoriesBtn">
                        <div id="delCategoryBtn"><button><i class="fas fa-trash"></i></button></div>
                        <div id="newCategoryBtn"><button><i class="fas fa-plus-circle"></i></button></div>
                        
                    </div>
                    <button ondblclick="alert('AA')">Double-click me</button>
                </div>
                <!-- <i class="fas fa-trash"></i> -->

                <button id=newTask onclick="newTaskDiv()"> Create a new task </button>
                <!-- <button onclick="getTasksByCategories('work')">Click</button> -->

            </div>

        </div>

        <div class="right">
            <div id="logOut"><a href="/user/logOut">Log out</a></div>
            <div class="div_class" id="itemTitle">
                <h2>Task Name</h2>
                <h2>Created In</h2>
                <h2>Complited</h2>
                <h2>Category</h2>
            </div>
            <div id="space"></div>
            <div id="form-box"></div>
        </div>
    </div>

    <!-- Hidden div -->

    <div id="newTaskDiv">
        <button id="exitBtn" onclick="exitFunc()"><i class="fas fa-times"></i></button>
        <form id="newTaskForm">
            <label for="taskName">TASK NAME:</label>
            <input type="text" id="taskName" name="taskName" minlength="2" maxlength="20" required><br><br>
            <small id="errorMsg">Error</small>
            <h2>Category: </h2>
            <select name="categories" id="categoriesSelect"></select>
            <button id="inputBtn">Create task</button>
          </form>
    </div>

    <div id="successAddedTask">
        <button id="exitBtn" onclick="exitFunc()"><i class="fas fa-times"></i></button>
        <div id="successMsg">
            <h1>New task!</h1>
            <div></div>
            <div></div>
        </div>
    </div>

 

    <script src="../assets/js/tasks/getAllTasks.js"></script>
    <script src="../assets/js/tasks/getTasksByCategories.js"></script>
    <script src="../assets/js/tasks/taskFunctions.js"></script>
    <script src="../assets/js/tasks/getUserCategories.js"></script>

</body>
</html>