body{
    background-color: palegoldenrod;
}

#title{
    display: inline;

    margin: auto;
    text-decoration: line-through yellow;

    font-size: 100px;
    text-align: left;
    color: ivory;
}

.button{
    background-color: pink;
    color: white;
    padding: 15px 70px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    margin: auto;
    cursor: pointer;

    border-radius:40px;
    border: 5px wheat solid;
    background-color: pink;
    border-radius: 40px;

}

.button1{
    padding: 15px 50px;
    margin-left: 3%;
    font-size: 50px;
}

.button2{
    padding: 15px 50px;
    margin-left: 40px;
    font-size: 50px;
}

#signInTitle{
    font-size: 30px;
    font-weight: bold;
}

#signUpTitle{
    font-size: 30px;
    font-weight: bold;
}

#taskimg{

    margin-top: 10px;
    max-width: 100%;
    height: auto;

    border-radius: 15px;
    border: 4px solid thistle;
}

#signInDiv{
    visibility: hidden;
    position: absolute;
    z-index: -1;
    margin: 7% 30%;

    width: 500px;
    height: 270px;
    
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    /* margin: auto; */
    text-align: center;
}

#signUpDiv{
    /* display: none; */
    visibility: hidden;
    position: absolute;
    z-index: 1;
    margin: 7% 30%;

    width: 500px;
    height: 310px;
    
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    /* margin: auto; */
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 5px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

  #signIn{
      background-color: pink;
      color: white;
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      padding: 10px 0;
      border-radius: 15px;
      margin-top: 18px;
  }

  #signUp{
    background-color: pink;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    margin-top: 18px;
}