* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(253, 4, 4, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/img/loginBG.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* Center item */

#login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}   

/* All box */

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    overflow: hidden;
    border-radius: 4px;
}

#title {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    color: white;
    font-size: 50px;
    text-align: center;
}

/* Input field */

.input-group-login {
    top: 135px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#emailError, #passwordError {
    text-align: center;
    color: white;
    display: none;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 34px 0;
    align-items: center;
}

span {
    color: #777;
    font-size: 16px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input{
    color: white;
    font-size: 15;
}

#linkLogin{
    color: white;
    margin: 80% 0;
    font-size: 120%;
    text-align: center;
}

#linkLogin a{
    /* color: rgb(184, 90, 90); */
    color: rgb(79, 137, 224);
    text-decoration: none;
}